@page "/slopes"
@using System.Net.Http.Json
@using System.Text.Json
@using System.Xml.Serialization
@using System.Text
@using SkiResort.Frontend.Presentation.Services
@inject IHttpApiClientFactory HttpApiClientFactory
@inject IJSRuntime JsInterop
@inject NavigationManager NavigationManager
@inject SessionStorageAccessor _sessionStorage;

<h3>Slopes</h3>

@if (slopes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="export-buttons">
        <input type="text" placeholder="Search..." @bind="req.Filter" @bind:event="oninput" @onkeyup="ApplyFilter" />
        <button class="btn btn-success" style="margin-left: 3px;" @onclick="ExportAsCsv">CSV</button>
        <button class="btn btn-info" style="margin-left: 3px;" @onclick="ExportAsXml">XML</button>
        <button class="btn btn-warning" style="margin-left: 3px;" @onclick="ExportAsJson">JSON</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => ApplySorting(nameof(SlopeDto.Name))">Name</th>
                <th @onclick="() => ApplySorting(nameof(SlopeDto.DifficultyLevel))">Difficulty Level</th>
                <th @onclick="() => ApplySorting(nameof(SlopeDto.Status))">Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var slope in slopes)
            {
                <tr>
                    <td>@slope.Name</td>
                    <td>@slope.DifficultyLevel</td>
                    <td>@slope.Status</td>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteSlope(slope)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (req.PageIndex != 1)
    {
        <div class="d-flex justify-content-center align-items-center mt-3">
            <button class="btn btn-primary btn-lg m-2" @onclick="LoadPrevious">
                <i class="fas fa-chevron-left"></i>
            </button>

            <span class="mx-3">@req.PageIndex</span>

            <button class="btn btn-primary btn-lg m-2" @onclick="LoadNext">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    }
    else
    {
        @if (slopes.Count() == req.PageSize)
        {
            <div class="d-flex justify-content-center align-items-center mt-3">
                <button class="btn btn-primary btn-lg m-2" @onclick="LoadPrevious">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <span class="mx-3">@req.PageIndex</span>

                <button class="btn btn-primary btn-lg m-2" @onclick="LoadNext">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        }
    }
}

@code {
    private SkiResortApiClient? skiResortApiClient;
    private SlopeDto selectedSlope = new SlopeDto();
    private List<SlopeDto>? slopes;
    private int seedDataCount;
    public string name = default;
    public string role = default;

    private PaginationSortingRequest req = new PaginationSortingRequest
        {
            PageIndex = 1,
            PageSize = 10,
            SortBy = nameof(SlopeDto.Id),
            Ascending = true,
            Filter = "",
        };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            name = await _sessionStorage.GetValueAsync<string?>("name");
            role = await _sessionStorage.GetValueAsync<string?>("role");
        }
        catch (Exception ex) { };
        skiResortApiClient = await HttpApiClientFactory.GetSkiResortApiHttpClientAsync();
        slopes = await LoadData(req);
    }

    private async Task<List<SlopeDto>> LoadData(PaginationSortingRequest req)
    {
        return (await skiResortApiClient!.SlopeGetPaginatedSortedAsync(req)).ToList();
    }

    private async Task UpdateSlope(SlopeDto slope)
    {
        NavigationManager.NavigateTo($"/slope-update/{slope.Id}", true);
    }

    private async Task DeleteSlope(SlopeDto slope)
    {
        var confirmed = await JsInterop.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {slope.Name}");
        if (confirmed)
        {
            await skiResortApiClient.SlopeDELETEAsync(slope);
            slopes.Remove(slope);
        }
    }

    private async Task CreateSlope()
    {
        NavigationManager.NavigateTo("/add-slope", true);
    }

    private async Task ImportJson()
    {
        var jsonData = await JsInterop.InvokeAsync<string>("uploadFile");
        if (!string.IsNullOrEmpty(jsonData))
        {
            var newSlopes = JsonSerializer.Deserialize<List<SlopeDto>>(jsonData);
            if (newSlopes != null)
            {
                foreach (var slope in newSlopes)
                {
                    await CreateSlopeFromJson(slope);
                }
                slopes = await LoadData(req);
            }
        }
        NavigationManager.NavigateTo("/slopes", true);
    }

    private async Task CreateSlopeFromJson(SlopeDto slope)
    {
        var slopeDto = new CreateSlopeDto()
            {
                Name = slope.Name,
                DifficultyLevel = slope.DifficultyLevel,
                Status = slope.Status,
            };

        await skiResortApiClient!.SlopePOSTAsync(slopeDto);
    }


    private async Task LoadNext()
    {
        PaginationSortingRequest reqTemp = new PaginationSortingRequest
        {
            PageIndex = req.PageIndex + 1,
            PageSize = req.PageSize,
            SortBy = req.SortBy,
            Ascending = req.Ascending,
            Filter = req.Filter,
        };

        var res = await LoadData(reqTemp);

        if (res is null || res.Count() == 0)
        {
            return;
        }

        req.PageIndex++;
        slopes = res;
    }

    private async Task LoadPrevious()
    {
        if (req.PageIndex > 1)
        {
            req.PageIndex--;
            slopes = await LoadData(req);
        }
    }

    private async Task ApplySorting(string columnName)
    {
        if (req.SortBy == columnName)
        {
            req.Ascending = !req.Ascending;
        }
        else
        {
            req.SortBy = columnName;
            req.Ascending = true;
        }

        slopes = await LoadData(req);
    }

    private async Task ApplyFilter(KeyboardEventArgs args)
    {
        req.PageIndex = 1;
        slopes = await LoadData(req);
    }

    private async Task ExportAsCsv()
    {
        var csvData = GenerateCsv(slopes);
        await SaveAsFile("slopes.csv", csvData);
    }

    private async Task ExportAsXml()
    {
        var xmlData = GenerateXml(slopes);
        await SaveAsFile("slopes.xml", xmlData);
    }

    private async Task ExportAsJson()
    {
        var jsonData = JsonSerializer.Serialize(slopes);
        await SaveAsFile("slopes.json", jsonData);
    }

    private string GenerateCsv(List<SlopeDto> slopes)
    {
        var stringBuilder = new StringBuilder();
        stringBuilder.AppendLine("Id,FirstName,LastName,Phone,Email");

        foreach (var slope in slopes)
        {
            stringBuilder.AppendLine($"{slope.Id},{slope.Name},{slope.DifficultyLevel},{slope.Status}");
        }

        return stringBuilder.ToString();
    }

    private string GenerateXml(List<SlopeDto> slopes)
    {
        var xmlSerializer = new XmlSerializer(typeof(List<SlopeDto>));
        using var stringWriter = new StringWriter();
        xmlSerializer.Serialize(stringWriter, slopes);
        return stringWriter.ToString();
    }

    private async Task SaveAsFile(string filename, string data)
    {
        await JsInterop.InvokeVoidAsync("saveAsFile", filename, data);
    }
}