@page "/userLogs"
@using System.Net.Http.Json
@using System.Text.Json
@using System.Xml.Serialization
@using System.Text
@using SkiResort.Frontend.Presentation.Services
@inject IHttpApiClientFactory HttpApiClientFactory
@inject IJSRuntime JsInterop
@inject NavigationManager NavigationManager
@inject SessionStorageAccessor _sessionStorage;

<h3>UserLogs</h3>

@if (userLogs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="export-buttons">
        <input type="text" placeholder="Search..." @bind="req.Filter" @bind:event="oninput" @onkeyup="ApplyFilter" />
        <button class="btn btn-success" style="margin-left: 3px;" @onclick="ExportAsCsv">CSV</button>
        <button class="btn btn-info" style="margin-left: 3px;" @onclick="ExportAsXml">XML</button>
        <button class="btn btn-warning" style="margin-left: 3px;" @onclick="ExportAsJson">JSON</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => ApplySorting(nameof(UserLogModel.Id))">Id</th>
                <th @onclick="() => ApplySorting(nameof(UserLogModel.UserName))">UserName</th>
                <th @onclick="() => ApplySorting(nameof(UserLogModel.Page))">Page</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userLog in userLogs)
            {
                <tr>
                    <td>@userLog.Id</td>
                    <td>@userLog.UserName</td>
                    <td>@userLog.Page</td>
                </tr>
            }
        </tbody>
    </table>

    @if (req.PageIndex != 1)
    {
        <div class="d-flex justify-content-center align-items-center mt-3">
            <button class="btn btn-primary btn-lg m-2" @onclick="LoadPrevious">
                <i class="fas fa-chevron-left"></i>
            </button>

            <span class="mx-3">@req.PageIndex</span>

            <button class="btn btn-primary btn-lg m-2" @onclick="LoadNext">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    }
    else
    {
        @if (userLogs.Count() == req.PageSize)
        {
            <div class="d-flex justify-content-center align-items-center mt-3">
                <button class="btn btn-primary btn-lg m-2" @onclick="LoadPrevious">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <span class="mx-3">@req.PageIndex</span>

                <button class="btn btn-primary btn-lg m-2" @onclick="LoadNext">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        }
    }
}

@code {
    private SkiResortApiClient? skiResortApiClient;
    private UserLogModel selectedUserLog = new UserLogModel();
    private List<UserLogModel>? userLogs;
    public string name = default;
    public string role = default;

    private PaginationSortingRequest req = new PaginationSortingRequest
        {
            PageIndex = 1,
            PageSize = 10,
            SortBy = nameof(UserLogModel.Id),
            Ascending = true,
            Filter = "",
        };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            name = await _sessionStorage.GetValueAsync<string?>("name");
            role = await _sessionStorage.GetValueAsync<string?>("role");
            skiResortApiClient = await HttpApiClientFactory.GetSkiResortApiHttpClientAsync();
            userLogs = await LoadData(req);
        }
        catch (Exception ex) { };
    }

    private async Task<List<UserLogModel>> LoadData(PaginationSortingRequest req)
    {
        return (await skiResortApiClient!.UserLogGetPaginatedSortedAsync(req)).ToList();
    }

    private async Task LoadNext()
    {
        PaginationSortingRequest reqTemp = new PaginationSortingRequest
            {
                PageIndex = req.PageIndex + 1,
                PageSize = req.PageSize,
                SortBy = req.SortBy,
                Ascending = req.Ascending,
                Filter = req.Filter,
            };

        var res = await LoadData(reqTemp);

        if (res is null || res.Count() == 0)
        {
            return;
        }

        req.PageIndex++;
        userLogs = res;
    }

    private async Task LoadPrevious()
    {
        if (req.PageIndex > 1)
        {
            req.PageIndex--;
            userLogs = await LoadData(req);
        }
    }

    private async Task ApplySorting(string columnName)
    {
        if (req.SortBy == columnName)
        {
            req.Ascending = !req.Ascending;
        }
        else
        {
            req.SortBy = columnName;
            req.Ascending = true;
        }

        userLogs = await LoadData(req);
    }

    private async Task ApplyFilter(KeyboardEventArgs args)
    {
        req.PageIndex = 1;
        userLogs = await LoadData(req);
    }

    private async Task ExportAsCsv()
    {
        var csvData = GenerateCsv(userLogs);
        await SaveAsFile("userLogs.csv", csvData);
    }

    private async Task ExportAsXml()
    {
        var xmlData = GenerateXml(userLogs);
        await SaveAsFile("userLogs.xml", xmlData);
    }

    private async Task ExportAsJson()
    {
        var jsonData = JsonSerializer.Serialize(userLogs);
        await SaveAsFile("userLogs.json", jsonData);
    }

    private string GenerateCsv(List<UserLogModel> userLogs)
    {
        var stringBuilder = new StringBuilder();
        stringBuilder.AppendLine("Id,UserName,Page");

        foreach (var userLog in userLogs)
        {
            stringBuilder.AppendLine($"{userLog.Id},{userLog.UserName},{userLog.Page}");
        }

        return stringBuilder.ToString();
    }

    private string GenerateXml(List<UserLogModel> userLogs)
    {
        var xmlSerializer = new XmlSerializer(typeof(List<UserLogModel>));
        using var stringWriter = new StringWriter();
        xmlSerializer.Serialize(stringWriter, userLogs);
        return stringWriter.ToString();
    }

    private async Task SaveAsFile(string filename, string data)
    {
        await JsInterop.InvokeVoidAsync("saveAsFile", filename, data);
    }
}