@page "/weatherReports"
@using System.Net.Http.Json
@using System.Text.Json
@using System.Xml.Serialization
@using System.Text
@using SkiResort.Frontend.Presentation.Services
@inject IHttpApiClientFactory HttpApiClientFactory
@inject IJSRuntime JsInterop
@inject NavigationManager NavigationManager
@inject SessionStorageAccessor _sessionStorage;

<h3>WeatherReports</h3>

@if (weatherReports == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="export-buttons">
        <input type="text" placeholder="Search..." @bind="req.Filter" @bind:event="oninput" @onkeyup="ApplyFilter" />
        <button class="btn btn-success" style="margin-left: 3px;" @onclick="ExportAsCsv">CSV</button>
        <button class="btn btn-info" style="margin-left: 3px;" @onclick="ExportAsXml">XML</button>
        <button class="btn btn-warning" style="margin-left: 3px;" @onclick="ExportAsJson">JSON</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => ApplySorting(nameof(WeatherReportDto.Date))">Date</th>
                <th @onclick="() => ApplySorting(nameof(WeatherReportDto.WeatherCondition))">Weather Condition</th>
                <th @onclick="() => ApplySorting(nameof(WeatherReportDto.Temperature))">Temperature</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var weatherReport in weatherReports)
            {
                <tr>
                    <td>@weatherReport.Date</td>
                    <td>@weatherReport.WeatherCondition</td>
                    <td>@weatherReport.Temperature</td>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteWeatherReport(weatherReport)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (req.PageIndex != 1)
    {
        <div class="d-flex justify-content-center align-items-center mt-3">
            <button class="btn btn-primary btn-lg m-2" @onclick="LoadPrevious">
                <i class="fas fa-chevron-left"></i>
            </button>

            <span class="mx-3">@req.PageIndex</span>

            <button class="btn btn-primary btn-lg m-2" @onclick="LoadNext">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    }
    else
    {
        @if (weatherReports.Count() == req.PageSize)
        {
            <div class="d-flex justify-content-center align-items-center mt-3">
                <button class="btn btn-primary btn-lg m-2" @onclick="LoadPrevious">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <span class="mx-3">@req.PageIndex</span>

                <button class="btn btn-primary btn-lg m-2" @onclick="LoadNext">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        }
    }
}

@code {
    private SkiResortApiClient? skiResortApiClient;
    private WeatherReportDto selectedWeatherReport = new WeatherReportDto();
    private List<WeatherReportDto>? weatherReports;
    private int seedDataCount;
    public string name = default;
    public string role = default;

    private PaginationSortingRequest req = new PaginationSortingRequest
        {
            PageIndex = 1,
            PageSize = 10,
            SortBy = nameof(WeatherReportDto.Id),
            Ascending = true,
            Filter = "",
        };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            name = await _sessionStorage.GetValueAsync<string?>("name");
            role = await _sessionStorage.GetValueAsync<string?>("role");
        }
        catch (Exception ex) { };
        skiResortApiClient = await HttpApiClientFactory.GetSkiResortApiHttpClientAsync();
        weatherReports = await LoadData(req);
    }

    private async Task<List<WeatherReportDto>> LoadData(PaginationSortingRequest req)
    {
        return (await skiResortApiClient!.WeatherReportGetPaginatedSortedAsync(req)).ToList();
    }

    private async Task UpdateWeatherReport(WeatherReportDto weatherReport)
    {
        NavigationManager.NavigateTo($"/weatherReport-update/{weatherReport.Id}", true);
    }

    private async Task DeleteWeatherReport(WeatherReportDto weatherReport)
    {
        var confirmed = await JsInterop.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {weatherReport.Date}");
        if (confirmed)
        {
            await skiResortApiClient.WeatherReportDELETEAsync(weatherReport);
            weatherReports.Remove(weatherReport);
        }
    }

    private async Task CreateWeatherReport()
    {
        NavigationManager.NavigateTo("/add-weatherReport", true);
    }

    private async Task ImportJson()
    {
        var jsonData = await JsInterop.InvokeAsync<string>("uploadFile");
        if (!string.IsNullOrEmpty(jsonData))
        {
            var newWeatherReports = JsonSerializer.Deserialize<List<WeatherReportDto>>(jsonData);
            if (newWeatherReports != null)
            {
                foreach (var weatherReport in newWeatherReports)
                {
                    await CreateWeatherReportFromJson(weatherReport);
                }
                weatherReports = await LoadData(req);
            }
        }
        NavigationManager.NavigateTo("/weatherReports", true);
    }

    private async Task CreateWeatherReportFromJson(WeatherReportDto weatherReport)
    {
        var weatherReportDto = new CreateWeatherReportDto()
            {
                Date = weatherReport.Date,
                WeatherCondition = weatherReport.WeatherCondition,
                Temperature = weatherReport.Temperature,
            };

        await skiResortApiClient!.WeatherReportPOSTAsync(weatherReportDto);
    }


    private async Task LoadNext()
    {
        PaginationSortingRequest reqTemp = new PaginationSortingRequest
            {
                PageIndex = req.PageIndex + 1,
                PageSize = req.PageSize,
                SortBy = req.SortBy,
                Ascending = req.Ascending,
                Filter = req.Filter,
            };

        var res = await LoadData(reqTemp);

        if (res is null || res.Count() == 0)
        {
            return;
        }

        req.PageIndex++;
        weatherReports = res;
    }

    private async Task LoadPrevious()
    {
        if (req.PageIndex > 1)
        {
            req.PageIndex--;
            weatherReports = await LoadData(req);
        }
    }

    private async Task ApplySorting(string columnName)
    {
        if (req.SortBy == columnName)
        {
            req.Ascending = !req.Ascending;
        }
        else
        {
            req.SortBy = columnName;
            req.Ascending = true;
        }

        weatherReports = await LoadData(req);
    }

    private async Task ApplyFilter(KeyboardEventArgs args)
    {
        req.PageIndex = 1;
        weatherReports = await LoadData(req);
    }

    private async Task ExportAsCsv()
    {
        var csvData = GenerateCsv(weatherReports);
        await SaveAsFile("weatherReports.csv", csvData);
    }

    private async Task ExportAsXml()
    {
        var xmlData = GenerateXml(weatherReports);
        await SaveAsFile("weatherReports.xml", xmlData);
    }

    private async Task ExportAsJson()
    {
        var jsonData = JsonSerializer.Serialize(weatherReports);
        await SaveAsFile("weatherReports.json", jsonData);
    }

    private string GenerateCsv(List<WeatherReportDto> weatherReports)
    {
        var stringBuilder = new StringBuilder();
        stringBuilder.AppendLine("Id,Date,WeatherCondition,Temperature");

        foreach (var weatherReport in weatherReports)
        {
            stringBuilder.AppendLine($"{weatherReport.Id},{weatherReport.Date},{weatherReport.WeatherCondition},{weatherReport.Temperature}");
        }

        return stringBuilder.ToString();
    }

    private string GenerateXml(List<WeatherReportDto> weatherReports)
    {
        var xmlSerializer = new XmlSerializer(typeof(List<WeatherReportDto>));
        using var stringWriter = new StringWriter();
        xmlSerializer.Serialize(stringWriter, weatherReports);
        return stringWriter.ToString();
    }

    private async Task SaveAsFile(string filename, string data)
    {
        await JsInterop.InvokeVoidAsync("saveAsFile", filename, data);
    }
}